<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monobyte-login</title>
    <style type="text/css">
    /*-- import of reset.css content*/
    /* styles.css */
body {
    color: black;
    font-size: 15px;
    background-color: rgb(64, 64, 73);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.full-page {
    padding: 60px;
    max-width: 500px;
    margin: 100px auto;
    text-align:center;
    background-color: rgb(85, 85, 100);
    border-radius: 8px;
    box-shadow: 0 0 5px #d6d4e1;
}

h2 {
    font-size: 25px;
    color: rgb(252, 252, 254);
}

label {
    display: block;
    font-size: 20px;
    font:bold;
    color:bisque;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

button {
    background-color: rgb(100, 150, 200);
    color: rgb(252, 252, 254);
    border: none;
    margin-top: 8px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(80, 130, 180);
}

a {
    text-decoration: none;
}

</style>
</head>
<body >
    <div class="full-page">
    <h2>Log In</h2>

    <form action="/login" method="POST">
    <label for="name"><b>Username</b></label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="password"><b>Password</b></label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Log In</button>
</form>
<br>
    <a href="/signup"><h2><b><ins style="color:rgb(252, 252, 254)">Create a new account</ins></b></h2></a>
</div>
</body>
</html>