*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
    width: 100%;
    background-image: url(images/bg-2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    /* this block of code is for the setting the background image and position of the image*/ 
}
.navbar
{
    display: flex;
    align-items: center;
	justify-content: space-between;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
    /* this is for setting the dimensions of teh navigation bar*/
}
.logo {
    height: 80px;
    width: 200px;
    background-image: url(images/logo.jpg);
    background-position: center;
    background-size: cover;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul
{
    display: inline-block;
    list-style: none;
	padding-left: 0;
    margin: 0;
}
nav ul li
{
    display: inline-block;
    margin-right: 60px;
/* this block are for styling the list element*/
}
nav ul li button
{
    font-size: 20px;
    color: black;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
a
{
    text-decoration: none;
    color: palevioletred;
    font-size: 45px;
}




   